---
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
LambdaBodyIndentation: OuterScope
BraceWrapping:
  AfterStruct: true
  AfterClass: true
  AfterUnion: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  BeforeLambdaBody: true
  BeforeElse: true
  SplitEmptyFunction: true
  AfterCaseLabel: true
  AfterObjCDeclaration: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeWhile: true
  IndentBraces: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
#   AlignCaseArrows: true
#   AlignCaseColons: true
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
ColumnLimit: 0
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseBlocks: true
IndentCaseLabels: false
IndentPPDirectives: BeforeHash
IndentWidth: 4
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
SortIncludes: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^("RHI/.*"|<RHI/.*>)'
    Priority: 1
  - Regex: '^<Vulkan/.*>'
    Priority: 2
  - Regex: '^<TL/.*>'
    Priority: 3
  - Regex: '^<.*>'
    Priority: 4
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
Standard: c++20
UseTab: Never
SeparateDefinitionBlocks: Always
AlignArrayOfStructures: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true
  AlignCompound: true
#   AlignFunctionPointers: true
  PadOperators: true
  AcrossEmptyLines: false
ReferenceAlignment: Left
# BreakFunctionDefinitionParameters: true

StatementAttributeLikeMacros: [TL_NODISCARD, RHI_EXPORT]