**/.DS_Store
.idea/
.vs/
.vscode/
build/
cmake-build-*/
prefix/
.clangd
CMakeLists.txt.user
CMakeUserPresets.json
compile_commands.json
env.bat
env.ps1
.cache/

# Export macros
Examples/Base/Include/Examples-Base/Export.hpp
Examples/ImGui-1.90.0/Include/Thirdparty-ImGui/Export.hpp
RHI/Include/RHI/Export.hpp
Vulkan/Include/RHI-Vulkan/Export.hpp
